.app-form-view
{
    
    background-color: rgb(237, 231, 246);
    
    .other
    {
        height: auto !important;
        padding-bottom: 20px !important;
    }
    
    &::before
    {
        content: '';
        background-color: rgb(103, 58, 183);
        color: rgba(255, 255, 255, 1);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 278px;
    }
    
    .form
    {
        border-top: 8pt solid rgb(179, 136, 255);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        height: 100%;

        .x-panel-body-default
        {
            background: #fff !important;
        }
        
        .header,
        .question,
        .x-toolbar-default
        {
            padding: 16px 17px;
        }
        
        .header
        {

            margin-bottom: 22px;

            .title,
            .description
            {
                margin: 0;
            }

            .title
            {
                font-size: 34px;
                line-height: 135%;
                font-family: Roboto,​RobotoDraft,​Helvetica,​Arial;
            }

            .description
            {
                color: rgba(0,0,0,0.87);
                font-size: 13px;
                line-height: 135%;
                margin-top: 22px;
            }
        }

        .question
        {
            
            &.header
            {

                .x-form-item-label-default 
                {
                    color: #000;
                    font-size: 20px;
                    line-height: 135%;
                    font-family: Roboto,​RobotoDraft,​Helvetica,​Arial;
                }

                .description
                {
                    color: rgba(0,0,0,0.87);
                    font-size: 13px;
                    line-height: 135%;
                }

            }
        }
        
        .btnSend
        {
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            line-height: 20px;
            margin: 8px;
            background-color: #4285f4;
            .x-btn-inner-default-toolbar-large
            {
                color: #fff;
            }
        }
        
    }
    
}